<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<section  layout:fragment="body">
    <h1>Admin Page</h1>
    <h1>회원 목록 페이지</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>이메일</th>
            <th>선호 색상</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.uname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.colors}"></td>
        </tr>
    </table>
</section>
</body>
</html>