<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<section  layout:fragment="body">
    <h1>Admin Page</h1>
    <ul>
        <li th:each="user: ${users}">
            <h2 th:text="${user.uname}"></h2>
            <p th:text="${user.email}"></p>
            <span th:text="${user.colors}"></span>
            <!-- 동적인 url 요청시 { 앞에 @추가 -->
            <form th:action="@{'/admin/del/' + ${user.id}}" method="get">
                <button type="submit">delete user</button>
            </form>
            <form th:action="@{'/admin/edit/' + ${user.id}}" method="get">
                <button type="submit">edit user</button>
            </form>
        </li>
    </ul>
</section>
</body>
</html>