<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" th:href="@{/css/style.css">-->
</head>
<body>

<!--공통 헤더 영역-->
<header>
    <h1><a href="/">Logo</a></h1>

    <nav>
        <ol style="display:flex;gap:50px">
            <li><a href="/join">Join Member</a></li>
            <li><a href="/admin">Admin Page</a></li>
            <li><a href="/login">Login</a></li>
        </ol>
    </nav>
</header>

<!--  각 페이지 내용이 삽입될 위치   -->
<main  layout:fragment="body"> </main>

<!--공통 푸터 영역-->
<footer>
    2025 alpaco &copy; All rights reserved.
</footer>

</body>
</html>